.main {
  display:flex-end;
  align-items:center;
  
  padding: 1.25rem 2rem;
  gap: 1rem;
  
}
.contactItem{
  background-color: #f3f4f6;
  padding: 1.25rem 2rem;
  border-radius: 8px;
  margin: 1rem 1rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.3rem;
  color: #1f2937;
  transition: background-color 0.2s ease;
}

.contactItem:hover {
  background-color: #e5e7eb;
}

.contactItem img,
.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
